<main>
    <header>
        <h2>Director Index</h2>
        <a href="/directors/new"><button>Add new director</button></a>
    </header>
    {{#each directors}}
        <div class="director-container">
            <a href="/directors/{{_id}}"><img src="{{img}}" alt=""></a>
            <div class="director-container-info">
                <a href="/directors/{{_id}}"><h3>{{name}}</h3></a>
                <p>{{bio}}</p>
                <p>{{movies}}</p>
            </div>
        </div>
    {{/each}}
    
</main>