<main>
    <div class="movie-container-show">
        <header>
            <h2> {{movie.name}} </h2>
            <h2> {{movie.rating}} </h2>
        </header>
        <img src="{{movie.img}}" alt="">
        <p>Movie Description: <br> {{movie.description}} </p>
        <p>Release Date: {{movie.release}} </p>
        <p>Directed by:</p>
        <ul>
            {{#each movie.director}}
                <a href="/directors/{{director._id}}"><li>{{name}}</li></a>
            {{/each}}
        </ul>
        <p>Cast:</p>
        <ul>
            {{#each movie.actors}}
                <a href="/actors/{{_id}}"><li>{{name}}</li></a>
            {{/each }}                        
        </ul>

    </div>
    <div class="movie-show-functions">
        <a href="/{{movie._id}}/edit"><button>Edit this movie</button></a>
	    <form action="/{{movie._id}}?_method=DELETE" method="POST">
	        <button type="submit">Delete this movie</button>
	    </form>
    </div>
</main>