<main>
    <div class="movie-container-show">
        <header>
            <h2> {{movie.name}} </h2>
            <h2> {{movie.rating}} </h2>
        </header>
        <img src="{{movie.img}}" alt="">
        <p>Movie Description: {{movie.description}} </p>
        <p>Release Date: {{movie.release}} </p>
        <p>Directed by: {{movie.director}} </p>
        <p>Cast: {{movie.actors}} </p>
    </div>
    <div class="movie-show-functions">
        <a href="/{{movie._id}}/edit"><button>Edit this movie</button></a>
	    <form action="/recipe/{{movie._id}}?_method=DELETE" method="POST">
	        <button type="submit">Delete this movie</button>
	    </form>
    </div>
</main>